body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 1080px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
    margin: 40px;
    align-items: center;
}

.h-btn{
    color: #117c4f;
    border-radius: 8px;
    border-color: #117c4f;
    height: 30px;
    width: 80px;
    margin: 40px 40px;
    justify-content: center;
    border-width: 1px;
}

.hr-btn{
    color: #ffffff;
    border-radius: 8px;
    border-color: #117c4f;
    background-color: #117c4f ;
    height: 50px;
    width: 200px;
    margin: 0px 0px;
    justify-content: left;
    border-width: 0;
}
.hero {
    background-color: #d5f4e6;
    text-align: left;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 40px;
}

.hero-content {
    margin: 0px;
    font-size: 20px;
    justify-self: start;
}

.pillars-container {
    display: flex;
    justify-content: space-between;

    
}

.pillar{
    background-color: #ffffff;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    width: 22%;
    gap: 20px;

}

.pillars{
    margin: 40px;
    justify-content: space-between;
}
.icon{
    height: 80px;
}

.vision-items{
    display: flex;
    justify-content: space-between;
    
    gap: 20px;
    padding: 0px;
    border-width: 1px;
    
 }
    
.vision-item-1{
    background-color: #d5e1f5;
    width: 30%;
    padding: 10px;
    border-radius: 10px;

}

.v1-btn{
    color: #ffffff;
    border-radius: 8px;
    background-color: #5490f5;
    height: 40px;
    width: 100px;
    margin: 0px 0px;
    justify-content: left;
    border-width: 0;
}

.vision-item-2{
    background-color: #c6e4d6;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    
}

.v2-btn{
    color: #ffffff;
    border-radius: 8px;
    background-color: #09a15c;
    height: 40px;
    width: 100px;
    margin: 0px 0px;
    justify-content: left;
    border-width: 0;
} 

.vision-item-3{
    background-color: #f7ebcf;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    
}

.v3-btn{
    color: #ffffff;
    border-radius: 8px;
    background-color: #ffc239;
    height: 40px;
    width: 100px;
    margin: 0px 0px;
    justify-content: left;
    border-width: 0;
} 

.vision{
    padding: 0px;
    margin: 40px;  
}

.quote{
    background-color: white;
    text-align: left;
    padding: 10px;
    display: flex;
    margin: 40px;
    border-radius: 15px;
    position: relative;
}


.quote-e{
    background-color: white;
    text-align: left;
    padding: 10px;
    margin: 00px;
    border-radius: 20px;  
    position: relative;      
}

.quote-text{
    margin-top: -30px;
}

.quote-img{
    position: relative;
    top: 0;
    opacity: 50%;
}
/* .table{
    margin: 40px;
}

.tbl{
    background-color: white;
    border-radius: 20px;
} */

.news-group{
    margin: 40px;
    gap: 400px;
}

.news-img{
    border-radius: 15px;
    width: 300px;
}

.n-btn{
    color: #ffffff;
    border-radius: 8px;
    height: 50px;
    width: 120px;
    border-color: #117c4f;
    background-color: #117c4f ;
    border-width: 0;
}

.news-1{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
        
}

.news-item-1-txt{
    margin: -15px;
}

.news-2{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
        
}
.news-item-2-txt{
    margin: -15px;
    padding-left: 20px;
}

section{
    margin: 30px 0px;
}

.donate{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.d-btn{
    height: 80px;
    width: 150px;
    margin: 30px;
    border-radius: 15px;
    font-size: 20px;
    border-width: .5px;
    
}

.d-btn:hover{
    background-color: #c6e4d6;
}

.donation-options{
    margin: 20px;
}

.inp{
    width: 600px;
    height: 40px;
    border-width: 0;
    text-align: center;
    font-size: 20px;
    color: dimgrey;
}

.i-btn{
    background-color: #117c4f;
    color: #ffffff;
    border-radius: 5px;
    height: 35px;
    border-width: 0;

}

.inp-box{
    margin: 20px;
  
    text-align: center;
}

.subscribe{
    background-color: #d5f4e6;
    display: flex;
    flex-direction: column;
    display: flex;
    border-radius: 20px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
   
}
.sub-p-btn{
    margin-top: px;

}

.subscribe-btn{
    display: flex;
    justify-content: center;
    margin: -130px;


}

.sub-inp-btn{
    height: 30px;
    width: 350px;
    border-width: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 30px;

}

.sub-inp-btn2{
    border-width: 0;
    background-color: #117c4f;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}


